/maven-eclipse.xml
/build.num
/.externalToolBuilders
/.project
/.settings
/.gitignore
/target/
/.classpath
/doc
/.idea
/eoulsan.iml
/test-output/
src/main/java/fr/ens/transcriptome/eoulsan/toolgalaxy/PPMain.java
src/main/java/fr/ens/transcriptome/eoulsan/toolgalaxy/VariableRegistry.java
