
body {
  margin: 0px;
  padding: 0px;
  background-color: #e0ded7;

  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-repeat: repeat-y;
  font-size: 13px;
  padding: 0px;
  font-size: 14px;
  width: 1280px;
}

#page {
  background-color: #fff;
}

img {
  border:none;
}

table {
  padding:0px;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
}

acronym {
  cursor: help;
  border-bottom: 1px dotted #feb;
}

table.bodyTable th, table.bodyTable td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}


div.clear {
  clear:both;
  visibility: hidden;
}
div.clear hr {
  display: none;
}

a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  padding-right: 0px;
}



td, select, input, li {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color:#333333;
}

code {
}

a {
  text-decoration: none;
}

a:link {
  color:#47a;
}

a:visited {
  color:#666666;
}

a:active, a:hover {
  color:#990000;
}

h2 {
  font-size: 17px;
  color: #333333;
}

h3 {
  padding: 4px 4px 4px 24px;
  color: #666;
  background-color: #ccc;
  font-weight: bold;
  font-size: 14px;
  background-image: url(../images/h3.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

p {
  line-height: 1.3em;
  color: #000;
  text-align: justify;
}

dt {
  padding: 4px 4px 4px 24px;
  color: #333333;
  background-color: #ccc;
  font-weight: bold;
  background-image: url(../images/h3.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

/*
 * Banner
 */

#banner {
  padding: 0px;
  height: 93px;
  background: url(../images/banner.jpg);
  height: 100px;
  background: url(../images/test.jpg);
}

#banner img {
  border: none;
}

#bannerLeft img {
  margin: 0px;
  padding: 5px 0px 0px 30px;
}

#bannerRight img {
  margin: 0px;
  padding: 15px 30px 0px 0px;
}

.xleft, #bannerLeft img {
  float:left;
  text-shadow: #7CFC00 1px 1px 1px;
  text-shadow: #FFFFFF 1px 1px 1px;
}

.xright, #bannerRight {
  float:right;
  text-shadow: #7CFC00 1px 1px 1px;
  text-shadow: #FFFFFF 1px 1px 1px;
}

/*
 * breadcrumbs
 */

#breadcrumbs {
  padding: 3px 10px 3px 10px;
  font-size: small;
  margin: 0pt;
  height: 13px;
  /*background-image: url(../images/breadcrumbs.jpg);*/
  padding: 5px 10px 14px 20px;
  height: 13px;
  background-image: url(../images/header.png);
  padding: 5px 5px 5px 5px;
}

* html #breadcrumbs {
  padding-bottom: 8px;
}

/*
 * Columns
 */

#leftColumn {
  width: 200px;
  float:left;
  overflow: auto;
  margin: 10px 0 10px 0;
  border-top-color: #ccc;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-right: 5px;
  padding-left: 5px;
}


#bodyColumn {
  margin-right: 1.5em;
  margin-left: 240px;
}

#legend {
  padding: 8px 0 8px 0;
}

#navcolumn {
  padding: 8px 4px 0 8px;
}

#navcolumn h5 {
  margin: 0;
  padding: 0;
  font-size: small;
  border-bottom: 1px solid #aaaaaa;
  padding-top: 2px;
  padding-left: 9px;
  color: #49635a;
  /*background-image: url(../images/h5.jpg);*/
  background-repeat: no-repeat;
  background-position: left bottom;
}

#navcolumn ul {
  margin: 0;
  padding: 0;
  font-size: 99%;
  margin: 5px 0 15px -0em;
}

#navcolumn ul a {
  color: #333333;
}

#navcolumn ul a:hover {
  color: red;
}

#navcolumn li {
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 16px;
  list-style-position: outside;
  line-height: 1.2em;
  font-size: smaller;
}

#navcolumn li.expanded {
  background-image: url(../images/expanded.gif);
}

#navcolumn li.collapsed {
  background-image: url(../images/collapsed.gif);
}

#navcolumn img {
  margin-top: 10px;
  margin-bottom: 3px;
}

/*
 * Other
 */



#poweredBy {
  text-align: center;
}

#poweredBy img {
  display:block;
  margin: 20px 0 20px 17px;
}

#search img {
    margin: 0px;
    display: block;
}

#search #q, #search #btnG {
    border: 1px solid #999;
    margin-bottom:10px;
}

#search form {
    margin: 0px;
}

#lastPublished {
  font-size: small;
}

.navSection {
  margin-bottom: 2px;
  padding: 8px;
}

.navSectionHead {
  font-weight: bold;
  font-size: small;
}

.section {
  padding: 4px;
}

#footer {
  padding: 3px 10px 3px 10px;
  font-size: small;
  padding: 10px;
  margin: 20px 0px 0px 0px;
  border-top: solid #ccc 1px;
  color: #333333;
}

.source {
  padding: 12px;
  margin: 1em 7px 1em 7px;
  border: 1px solid #999;
  overflow:auto
}

.source pre {
  margin: 0px;
  padding: 0px;
}

.subsectionTitle {
  font-weight: bold;
  color: #666;
}

.xright a:link, .xright a:visited, .xright a:active {
  color: #666;
}
.xright a:hover {
  color: #003300;
}

#intro {
  border: solid #ccc 1px;
  margin: 6px 0px 0px 0px;
  padding: 10px 40px 10px 40px;
}
.subsection {
  margin-left: 3px;
  color: #333333;
}

.subsection p {
}

.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

div.didyouknow {
  font-size: small;
  text-align: center;
  margin-top: 0px;
  margin-top: -5px;
  margin-bottom: 5px;
}

